PORT=3000

MONGO_URI=mongodb://localhost:27017/protfolio

JWT_SECRET=

JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:4200

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

BACKUP_ADMIN_USERNAME=
BACKUP_ADMIN_EMAIL=
BACKUP_ADMIN_PASSWORD=